<!DOCTYPE html>
<html lang="en">

<head>
  <title>Goling</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="GOLING (Go Healing)" />
  <meta name="keywords" content="goling team" />

  <!-- Icon -->
  <link rel="icon" href="./images/goling.ico" />

  <!-- Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
    rel="stylesheet" />

  <!-- Symbols -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
</head>

<body>
  <!-- Header -->
  <header>
    <div id="navbarId" class="navbar">
      <div class="headerInner">
        <h1 class="headerTitle">
          Goling
        </h1>
        <ul class="navigationResponsive">
          <li>
            <button id="navigationDrawerId" class="navigationDrawer" aria-label="Open navigation drawer">☰</button>
          </li>
        </ul>
      </div>
      <nav id="navbarContainerId" class="navbarContainer">
        <ul class="navbarList">
          <li class="navbarItem"><a href="./index.html">Home</a></li>
          <li class="navbarItem"><a href="./index.html#destinations">Destination</a></li>
          <li class="navbarItem"><a href="./index.html#contact">Contact</a></li>
          <li class="navbarItem"><a href="./about.html">About Us</a></li>
          <li class="navbarItem"><a href="https://forms.gle/Nzrm56hTmn1uAxLc9">Add Destination</a></li>
          <li class="navbarItem"><button id="myBooking">My Booking</button>  
        </ul>
      </nav>
    </div>
    <div class="hero">
      <div class="heroContainer">
        <h1 class="heroTitle">Explore all of Indonesia and enjoy its beauty</h1>
        <p class="heroDescription">Find the tour you want here.</p>
      </div>
    </div>
  </header>

  <!-- Payment -->
  <div class="payment-container">
    <div>
      <h1>Booking Success</h1>
    </div>
    <div>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="256"
        height="256" viewBox="0 0 256 256" xml:space="preserve">
        <defs>
        </defs>
        <g style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
          transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)">
          <polygon points="37.95,64.44 23.78,50.27 30.85,43.2 37.95,50.3 59.15,29.1 66.22,36.17 "
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,158,4); fill-rule: nonzero; opacity: 1;"
            transform="  matrix(1 0 0 1 0 0) " />
          <path
            d="M 45 90 C 20.187 90 0 69.813 0 45 C 0 20.187 20.187 0 45 0 c 24.813 0 45 20.187 45 45 C 90 69.813 69.813 90 45 90 z M 45 10 c -19.299 0 -35 15.701 -35 35 s 15.701 35 35 35 s 35 -15.701 35 -35 S 64.299 10 45 10 z"
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(0,158,4); fill-rule: nonzero; opacity: 1;"
            transform=" matrix(1 0 0 1 0 0) " stroke-linecap="round" />
        </g>
      </svg>
    </div>
    <button type="button" id="payment-button">Bayar sekarang</button>
  </div>

  <!-- Wave on Footer -->
  <section class="wave">
    <div class="air air1"></div>
    <div class="air air2"></div>
    <div class="air air3"></div>
    <div class="air air4"></div>
  </section>

  <!-- Footer -->
  <footer id="contact">
    <div class="foot">
      <div class="footer-content">
        <div class="footlinks">
          <h4>Top Destination</h4>
          <ul>
            <li class="top">Denpasar, Bali</li>
            <li class="top">Cimahi, Jawa Barat</li>
            <li class="top">Bandung, Jawa Barat</li>
            <li class="top">Medan, Sumatera</li>
            <li class="top">Jakarta Selatan, Jakarta</li>
          </ul>
        </div>

        <div class="footlinks">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="./index.html">Home</a></li>
            <li><a href="./index.html#destinations">Destination</a></li>
            <li><a href="./index.html#contact">Contact</a></li>
            <li><a href="./about.html">About Us</a></li>
            <li><a href="https://forms.gle/Nzrm56hTmn1uAxLc9">Add Destination</a></li>
          </ul>
        </div>

        <div class="footlinks">
          <h4>Contact</h4>
          <ul>
            <li class="contact-item">
              <a href="#" class="contact-link">Admin : +62 111-222-333</a>
            </li>
            <li class="contact-item">
              <a href="#" class="contact-link">Email : goling@gmail.com</a>
            </li>
            <li class="contact-item">
              <address>Bandung, Jawa Barat</address>
            </li>
          </ul>
        </div>

        <div class="footlinks">
          <h4>Social Media</h4>
          <div class="social">
            <a href="#" target="_blank"><i class="bx bxl-whatsapp"></i></a>
            <a href="#" target="_blank"><i class="bx bxl-facebook"></i></a>
            <a href="#" target="_blank"><i class="bx bxl-instagram"></i></a>
            <a href="#" target="_blank"><i class="bx bxl-twitter"></i></a>
            <a href="#" target="_blank"><i class="bx bxl-youtube"></i></a>
          </div>
        </div>
      </div>
    </div>

    <div class="end">
      <p>GOLING © 2024 All Rights Reserved</p>
    </div>
  </footer>
  <script>
    var param = new URLSearchParams(window.location.search);
    var id = param.get('id');

    document.getElementById('payment-button').addEventListener('click', async () => {
      try {
        var db = await new Promise(function (resolve, reject) {
          var request = indexedDB.open('transactions_db', 1);
          request.onerror = function (event) {
            reject('Error opening database');
          };
          request.onsuccess = function (event) {
            resolve(event.target.result);
          };
        });

        var transaction = await new Promise(function (resolve, reject) {
          var transaction = db.transaction(['transactions'], 'readonly');
          var objectStore = transaction.objectStore('transactions');
          var request = objectStore.get(id);
          request.onerror = function (event) {
            reject('Error fetching data');
          };
          request.onsuccess = function (event) {
            resolve(event.target.result);
          };
        });

        if (transaction && transaction.snap_url) {
          window.location.href = transaction.snap_url;
        } else {
          console.error('Transaction not found or snap_url is missing');
        }
      } catch (error) {
        console.error('Error:', error);
      }
    });
  </script>
</body>

</html>